.App {
  text-align: center;
}
h1 {
  margin: 40px 20px 10px 20px;
  font-family: "Montserrat", sans-serif;
}
p {
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.book {
  font-size: 46px;
}
.Footer {
  font-size: 14px;
  margin: 20px;
  font-family: "Montserrat", sans-serif;
}
